header{
    display: flex;
    width: 100%;
    height: 70px;
    background-color: rgb(27, 27, 27);
    position: sticky;
    top: 0;
    align-items: center;
    flex-wrap: nowrap;
    font-family: serif;
}

header [class=logo]{

    display: flex;
    align-items: center;
    position:relative;
    left: calc(5% + 20px);

    font-size: 1.8rem;
    height: inherit;
    color: inherit;
    background-color: inherit;

}
header [class=logoItem]{
    
    display:block;
    position: relative;
    left: 5%;

    background-image: url("./CP1BossLeft.png");
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: contain;
    
    height: 70%;
    aspect-ratio: 1 / 1;

    padding: 3px;
}

[class=SelectCommandBoard]{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#SelectCommand{
    font-size: 1.3rem;
    border-radius: 15px;
    background-color: gray;
    padding-left: 10px;
}
b{
    font-size: 1.8rem;
}
strong{
    display: inline-flex;
    background-color: inherit;
    font-size: 2rem;
}
[class="Context"]{
    padding-left: 5vw;
    font-size: 1.8rem;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=checkbox]{
    width: 20PX;
    height: 20px;
}

input[type=radio]{
    width: 30px;
    height: 30px;
    border: 4px solid white;
    border-radius: 0;
    content: url(./Assets/checkbox.png);
}
input[type=radio]:checked{

    content: url(./Assets/checkboxActive.png);
}
input[type=radio]:disabled{
    content: url(./Assets/checkboxDisabled.png);
}

input[class=Vector] {
    display: inline-block;
    width: 40%;
}

div[class=ParameterInputBox]{
    display: flex;
    flex-direction:column;
    gap: 5px;
}


section[class="Parameters"]{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

fieldset[class="ParameterField"]{
    width: 90vw;
}

[class="Direction"]{
    width: 90px;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    flex-wrap: wrap;
}

legend{
    font-size: 1.6rem;
    border: 1.5px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: black;
}

button[class="ShowResult"]{
    background-color: royalblue; 
    border-radius: 5px;
    outline: 0px;
    margin: 0px;
    border: 1px solid royalblue;
}
button[class="ShowResult"]:hover{
    background-color: royalblue; 
    border-radius: 9px;
    outline: 0px;
    margin: 0px;
    border: 3px solid royalblue;
}
button[class="ShowResult"]:active{
    background-color: blue; 
    border-radius: 9px;
    outline: 0px;
    margin: 0px;
    border: 3px solid blue;
}
input[type = "text"]{
    width: 60%;
    font-size: 1.5rem;
    color: rgb(78, 78, 78);
    background-color: white;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 7px;
}

input[type ="number"]{
    width: 10%;
    font-size: 1.3rem;
    color: rgb(78, 78, 78);
    background-color: white;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 7px;

}

*{
    color: white;
    font-size: 16px;
    margin: 0px;
    background-color: rgb(53, 53, 53);
    white-space: nowrap;
}